.gradle
/local.properties
.DS_Store
/build
/captures
/gradle.properties
/Weather.iml
/.idea/
/app/src/main/res/drawable-xxhdpi/
/app/src/main/res/drawable-v24/
/app/src/main/res/drawable-xhdpi/
/app/src/main/res/drawable-mdpi/
/app/src/main/res/drawable-xxxhdpi/
/app/src/main/res/drawable-ldpi/
/app/src/main/res/drawable-hdpi/
/app/release/