.gradle
/local.properties
.DS_Store
/build
/captures
/gradle.properties
/Weather.iml
/.idea/
/app/src/main/res/drawable-xxhdpi/night_heavy_rain.9.png
/app/src/main/res/drawable-xxhdpi/night_rain.9.png
/app/src/main/res/drawable-mdpi/night_fog.9.png
/app/src/main/res/drawable-mdpi/night_clear_sky.9.png
/app/src/main/res/drawable-xxhdpi/night_snow.9.png
/app/src/main/res/drawable-xhdpi/night_heavy_rain.9.png
/app/src/main/res/drawable-xxxhdpi/night_snow.9.png
/app/src/main/res/drawable-xxhdpi/night_few_clouds.9.png
/app/src/main/res/drawable-xxhdpi/night_clear_sky.9.png
/app/src/main/res/drawable-xhdpi/night_hail.9.png
/app/src/main/res/drawable-xxhdpi/night_heavy_snow.9.png
/app/src/main/res/drawable-xhdpi/night_sleet.9.png
/app/src/main/res/drawable-xhdpi/night_heavy_snow.9.png
/app/src/main/res/drawable-xhdpi/night_clear_sky.9.png
/app/src/main/res/drawable-xhdpi/night_drizzle.9.png
/app/src/main/res/drawable-mdpi/night_few_clouds.9.png
/app/src/main/res/drawable-xxxhdpi/night_heavy_rain.9.png
/app/src/main/res/drawable-hdpi/night_clear_sky.9.png
/app/src/main/res/drawable-xhdpi/night_fog.9.png
/app/src/main/res/drawable-mdpi/night_thunderstorm.9.png
/app/src/main/res/drawable-mdpi/night_heavy_rain.9.png
/app/src/main/res/drawable-xxxhdpi/night_sleet.9.png
/app/src/main/res/drawable-hdpi/night_drizzle.9.png
/app/src/main/res/drawable-xhdpi/night_rain.9.png
/app/src/main/res/drawable-mdpi/night_sleet.9.png
/app/src/main/res/drawable-xxhdpi/night_hail.9.png
/app/src/main/res/drawable-hdpi/night_thunderstorm_rain.9.png
/app/src/main/res/drawable-xxhdpi/night_drizzle.9.png
/app/src/main/res/drawable-xxhdpi/night_sleet.9.png
/app/src/main/res/drawable-mdpi/night_snow.9.png
/app/src/main/res/drawable-xxhdpi/night_thunderstorm_rain.9.png
/app/src/main/res/drawable-hdpi/night_snow.9.png
/app/src/main/res/drawable-hdpi/night_thunderstorm.9.png
/app/src/main/res/drawable-xxxhdpi/night_thunderstorm.9.png
/app/src/main/res/drawable-xxxhdpi/night_fog.9.png
/app/src/main/res/drawable-hdpi/night_heavy_snow.9.png
/app/src/main/res/drawable-xxxhdpi/night_drizzle.9.png
/app/src/main/res/drawable-mdpi/night_drizzle.9.png
/app/src/main/res/drawable-xhdpi/night_thunderstorm_rain.9.png
/app/src/main/res/drawable-xxxhdpi/night_thunderstorm_rain.9.png
/app/src/main/res/drawable-hdpi/night_heavy_rain.9.png
/app/src/main/res/drawable-xhdpi/night_snow.9.png
/app/src/main/res/drawable-xxhdpi/night_thunderstorm.9.png
/app/src/main/res/drawable-hdpi/night_fog.9.png
/app/src/main/res/drawable-mdpi/night_hail.9.png
/app/src/main/res/drawable-xxhdpi/night_fog.9.png
/app/src/main/res/drawable-xxxhdpi/night_few_clouds.9.png
/app/src/main/res/drawable-xxxhdpi/night_hail.9.png
/app/src/main/res/drawable-xxxhdpi/night_clear_sky.9.png
/app/src/main/res/drawable-hdpi/night_hail.9.png
/app/src/main/res/drawable-hdpi/night_rain.9.png
/app/src/main/res/drawable-mdpi/night_rain.9.png
/app/src/main/res/drawable-hdpi/night_sleet.9.png
/app/src/main/res/drawable-xxxhdpi/night_heavy_snow.9.png
/app/src/main/res/drawable-mdpi/night_thunderstorm_rain.9.png
/app/src/main/res/drawable-hdpi/night_few_clouds.9.png
/app/src/main/res/drawable-xxxhdpi/night_rain.9.png
/app/src/main/res/drawable-xhdpi/night_thunderstorm.9.png
/app/src/main/res/drawable-mdpi/night_heavy_snow.9.png
/app/src/main/res/drawable-xhdpi/night_few_clouds.9.png
/app/src/main/res/drawable-mdpi/day_hail.9.png
/app/src/main/res/drawable-mdpi/day_heavy_snow.9.png
/app/src/main/res/drawable-hdpi/day_night_breeze.9.png
/app/src/main/res/drawable-xxhdpi/day_night_haze.9.png
/app/src/main/res/drawable-mdpi/day_rain.9.png
/app/src/main/res/drawable-xxhdpi/day_heavy_rain.9.png
/app/src/main/res/drawable-xhdpi/day_night_haze.9.png
/app/src/main/res/drawable-hdpi/day_sleet.9.png
/app/src/main/res/drawable-xxxhdpi/day_thunderstorm_rain.9.png
/app/src/main/res/drawable-xhdpi/day_night_tornado.9.png
/app/src/main/res/drawable-hdpi/day_hail.9.png
/app/src/main/res/drawable-mdpi/day_heavy_rain.9.png
/app/src/main/res/drawable-xxxhdpi/day_sleet.9.png
/app/src/main/res/drawable-xhdpi/day_hail.9.png
/app/src/main/res/drawable-xxhdpi/day_sleet.9.png
/app/src/main/res/drawable-xxxhdpi/day_few_clouds.9.png
/app/src/main/res/drawable-mdpi/day_night_haze.9.png
/app/src/main/res/drawable-mdpi/day_thunderstorm.9.png
/app/src/main/res/drawable-mdpi/day_snow.9.png
/app/src/main/res/drawable-xxhdpi/day_few_clouds.9.png
/app/src/main/res/drawable-xxxhdpi/day_clear_sky.9.png
/app/src/main/res/drawable-xhdpi/day_drizzle.9.png
/app/src/main/res/drawable-hdpi/day_few_clouds.9.png
/app/src/main/res/drawable-xxxhdpi/day_night_haze.9.png
/app/src/main/res/drawable-xhdpi/day_rain.9.png
/app/src/main/res/drawable-hdpi/day_snow.9.png
/app/src/main/res/drawable-hdpi/day_thunderstorm_rain.9.png
/app/src/main/res/drawable-xxxhdpi/day_hail.9.png
/app/src/main/res/drawable-mdpi/day_night_tornado.9.png
/app/src/main/res/drawable-xxhdpi/day_clear_sky.9.png
/app/src/main/res/drawable-xxxhdpi/day_heavy_snow.9.png
/app/src/main/res/drawable-xxxhdpi/day_night_tornado.9.png
/app/src/main/res/drawable-xhdpi/day_heavy_rain.9.png
/app/src/main/res/drawable-hdpi/day_night_smoke.9.png
/app/src/main/res/drawable-mdpi/day_sleet.9.png
/app/src/main/res/drawable-xxhdpi/day_fog.9.png
/app/src/main/res/drawable-xhdpi/day_sleet.9.png
/app/src/main/res/drawable-xxhdpi/day_heavy_snow.9.png
/app/src/main/res/drawable-mdpi/day_few_clouds.9.png
/app/src/main/res/drawable-hdpi/day_night_tornado.9.png
/app/src/main/res/drawable-xxxhdpi/day_snow.9.png
/app/src/main/res/drawable-mdpi/day_drizzle.9.png
/app/src/main/res/drawable-hdpi/day_clear_sky.9.png
/app/src/main/res/drawable-hdpi/day_drizzle.9.png
/app/src/main/res/drawable-xxxhdpi/day_rain.9.png
/app/src/main/res/drawable-xxhdpi/day_rain.9.png
/app/src/main/res/drawable-mdpi/day_fog.9.png
/app/src/main/res/drawable-xxxhdpi/day_fog.9.png
/app/src/main/res/drawable-xxhdpi/day_thunderstorm.9.png
/app/src/main/res/drawable-xxhdpi/day_hail.9.png
/app/src/main/res/drawable-xxhdpi/day_night_breeze.9.png
/app/src/main/res/drawable-xxhdpi/day_night_tornado.9.png
/app/src/main/res/drawable-xhdpi/day_thunderstorm_rain.9.png
/app/src/main/res/drawable-xhdpi/day_snow.9.png
/app/src/main/res/drawable-xhdpi/day_night_breeze.9.png
/app/src/main/res/drawable-hdpi/day_night_haze.9.png
/app/src/main/res/drawable-hdpi/day_heavy_rain.9.png
/app/src/main/res/drawable-xhdpi/day_night_smoke.9.png
/app/src/main/res/drawable-xxhdpi/day_snow.9.png
/app/src/main/res/drawable-xxhdpi/day_night_smoke.9.png
/app/src/main/res/drawable-xxxhdpi/day_night_smoke.9.png
/app/src/main/res/drawable-xhdpi/day_fog.9.png
/app/src/main/res/drawable-xhdpi/day_heavy_snow.9.png
/app/src/main/res/drawable-xxxhdpi/day_thunderstorm.9.png
/app/src/main/res/drawable-hdpi/day_rain.9.png
/app/src/main/res/drawable-mdpi/day_night_smoke.9.png
/app/src/main/res/drawable-xxxhdpi/day_heavy_rain.9.png
/app/src/main/res/drawable-hdpi/day_heavy_snow.9.png
/app/src/main/res/drawable-xhdpi/day_few_clouds.9.png
/app/src/main/res/drawable-xxxhdpi/day_night_breeze.9.png
/app/src/main/res/drawable-mdpi/day_clear_sky.9.png
/app/src/main/res/drawable-mdpi/day_night_breeze.9.png
/app/src/main/res/drawable-xhdpi/day_clear_sky.9.png
/app/src/main/res/drawable-mdpi/day_thunderstorm_rain.9.png
/app/src/main/res/drawable-xxxhdpi/day_drizzle.9.png
/app/src/main/res/drawable-xxhdpi/day_drizzle.9.png
/app/src/main/res/drawable-hdpi/day_fog.9.png
/app/src/main/res/drawable-hdpi/day_thunderstorm.9.png
/app/src/main/res/drawable-xhdpi/day_thunderstorm.9.png
/app/src/main/res/drawable-xxhdpi/day_thunderstorm_rain.9.png
